

.class {
    --font-size: 28px;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    font-family: Golos Text,sans-serif,system-ui;
    font-weight: 800;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.line {
	display: block;
	margin: 2em auto;
	text-align: center;
	border: none;
	padding: 0;
	align-items:center;
	font: 5ch droid sans mono, consolas, monospace;
	letter-spacing: 0.5ch;
	background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch,
		transparent 0, transparent 1ch + .5*1ch);
}
.line:focus {
	outline: none;
	color: #cc66cc;
}

.ask{
    --font-size: 28px;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    font-family: Golos Text,sans-serif,system-ui;
}
.btn{

   display: flex;
   margin:0 auto;
   align-items:center;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
   background-color: black;
   border-radius: 2em;
   transition-duration: 0.4s;
   color:white
}

.btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}



.footer {
   font-family: Golos Text;
  box-sizing: border-box;

  padding: 3rem;
   margin-top: 0px;
   padding-top: 7rem;
   padding-bottom: 80px;
 overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background: Black;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;

  gap: 0.2rem;
}

.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}
.fa-brands{
  font-size: 1.5rem;
}
.footer .col ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
