<!DOCTYPE html>
<html lang="en">
<head>
     <link rel = "stylesheet" href="{{url_for('static',filename='style2.css')}}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <h3 class="class"> <font style="color: #cc66cc">U</font>
    .Charge
    <div>x</div>
    <div>Ростелеком</div>
    </h3>
    <h4>
        <div class="ask">Пожалуйста, введите айди станции</div>
    </h4>
</div>



<div>
<p>
 <input class="line" type="text" name="message">
</p>
<p>
 <input class="btn" type = "button" name="submit_button" value="Взять"><br>
    <input class="btn" type = "button" name="return_button" value="Вернуть"><br>

</p>


</div>

</body>
</html>


